.estilo1{
    background-color: slateblue;
    color:teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.estilo2{
    font-family: 'Courier New', Courier, monospace;
    color: springgreen;
    font-size: 30px;
}